<div class="page about-page">
  <%= image_tag 'about-01.jpg', :class => 'about-page__img' %>
  <div class="page-static">
    <section>
      <p style="font-size: 12px; text-align: center;">私たちはユーザー様に寄り添う形でサービスの発展を目指します。</p>
    </section>
  </div>
</div>
