<main id="main">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="staticPage">
        <section>
          <p>私たちはユーザー様に寄り添う形でサービスの発展を目指します。</p>
        </section>
      </div>
    </div>
  </div>
</main>
