<div class="page page-static">
  <div class="page__header">
    <h1 class="page__title">oftonとは</h1>
  </div>
  <div class="page__body">
    <section>
      <p>oftonは、以下のような悩みを抱えている方のための、コミュニティサービスです。</p>
    </section>
    <section>
      <ul>
        <li>日常的に寂しさを感じる</li>
        <li>寂しさを共有する相手がいない</li>
        <li>悩みがあるが、周りに理解されない</li>
        <li>自分の寂しさが原因で人間関係が壊れるのが怖い</li>
      </ul>
    </section>
    <section>
      <p>ユーザー様に寄り添う形でサービスの発展を目指します。</p>
    </section>
  </div>
</div>
