<%= render partial: 'shared/margin_top' %>

<main id="main">
  <div class="row center-xs">
    <div class="col-xs-12 col-md-9 col-lg-6">
      <div class="staticPage">
        <section>
          <p>　oftonについて</p>
          <p>　初めまして。運営の代表の木田です。</p><br />
          <p>　このサービスを作ろうとしたきっかけは、私自身が寂しさを多く抱えた学生時代を過ごしていたからです。カウンセラーや色々な方に話を聞いていただいたり、色々なことに挑戦していく中で自然と満たされた生活を手に入れることができましたが、私は今でもその時の辛さを覚えています。
          　「メンヘラ」というワードがすでに定着しつつある日本では、今でも多くの方が精神に問題を抱えていたり、一人でネガティブな感情を抱えていたりしながら、なんとか生活をしのいでいるかたが多くいらっしゃると思います。
          　oftonはそのような方たちのために作られました。皆様がさみしさを吐露できるような、心のオアシスとなれるよう、運営一同努力いたします。何卒よろしくお願いいたします。</p>
        </section>
      </div>
    </div>
  </div>
</main>
