<div>
  oftonでのマナーと注意点
  oftonは幅広い年代とバックグラウンドをお持ちの方に利用いただいております。皆様が気持ちよく利用いただけるよう、以下の点をお守りください。 なお、当該マナーや注意点、また下記の削除ガイドラインに抵触する投稿やそれに類する投稿を行われている場合、運営により事前通告なしで削除する場合がございます。あらかじめご了承くださいませ。
  		1.投稿には責任を持ちましょう
  		真剣な悩みを投稿されている方がoftonには沢山おります。質問をされた方の心情を念頭に置いて、発言をお願いいたします。 
  		2.人を不快にさせないように気をつけましょう
  		様々な価値観を持つ方がoftonには参加しております。相手の気持ちを考え、感情的な発言は避けましょう。また、相手のことを考えて、わかりやすい丁寧な言葉遣いを心がけましょう。 
  		  3.アドバイスへの信頼は自己責任で行いましょう
  oftonにはたくさんのアドバイスがありますが、それらのすべてが完全に信頼できるものであるとは限りません。正確性の判断についての責任はご自身で負うように心がけてください。

    4.不快な投稿・ユーザーには違反報告をしましょう
  不快な投稿・ユーザー、荒らしと考えられる投稿・ユーザーに対して反応したくなるかもしれませんが、感情的な投稿をしてしまうとその場が荒れる原因になります。荒らしだと思った投稿・ユーザーにはその場では反応せず、違反報告機能で運営に連絡するようにしましょう。

  削除ガイドライン

  基本的な考え方
    ・ガイドラインに反する投稿は削除させていただくことがあります。
    ・ガイドラインに反する投稿が必ず削除されるわけではありませんが、ガイドラインを基準に、運営側が削除の決定を判断させていただきます。

  ガイドライン
  1.誹謗中傷
    1-1. 「死ね」「消えろ」「クズ」などといった明らかな暴言
    1-2. 個人を貶める目的での質問の作成
    1-3. 悪意を持ち、特定の人物・運営・その他の人物や組織などに不利益や損害を与えるおそれのある言動
    1-4. 警察や裁判所から削除命令があった投稿
  2.荒らし行為
    2-1. 個別のユーザーに呼びかけるような質問
    2-2. 質問の内容に全く関係ない、またはそう判断されうるコメント
    2-3. 意味のない書き込み・ポイント獲得を目的とした大量投稿
    2-4. 過度に感情的、または下品な言葉遣いを含んだ投稿
    2-5. 有害なコンピュータプログラムなどを添付、またはリンクをする等の行為
    2-6. その他、運営が荒らしと判断させて頂いた投稿
  3.出会い・個人情報
    3-1. 実際の場での出会いを誘発する旨の発言
    3-2. チャットツールなどのユーザーID、それに類するQRコードなどの投稿
    3-3. 他サービスへの誘導
  4.その他
    4-2. 公序良俗に著しく反する言動
    4-3. 不快感、嫌悪感を煽るような言動
    4-4. その他、上記マナーと注意点の趣旨から著しく逸脱すると運営が判断した投稿

  違反した場合の対処
  ガイドライン違反をしていると判断させていただいた場合、その程度に鑑みて、下記の対応を行わせていただきます。

    ・該当のコメントの削除
    ・ユーザーのアクセス禁止

  最後に
  oftonにより、ひとりでも多くの寂しさを抱える方が快適に過ごせる世の中を作っていきたいと考えています。是非より良い場を作るためにご意見やご要望をいただければと思います。また、お知り合いに「ofton」を紹介していただけると運営一同非常に嬉しく思います。
  ofton運営スタッフ一同
</div>
