<div class="page page-static">
  <div class="page__header">
    <h1 class="page__title">個人情報保護方針</h1>
  </div>
  <div class="page__body">
    <section>
      <p>制定日：2017年7月3日</p>
      <p>最終改訂日：2017年7月3日</p>
    </section>
    <section>
      <p>代表者名：木田 悠之（代表者氏名）</p>
      <p>責任者名：木田 悠之（責任者氏名）</p>
    </section>
    <section>
      <p>プロジェクトchacha（以下「当団体」）は、お客様の個人情報をお預かりするにあたり、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築します。</p>
    </section>
    <section>
      <p>当団体は個人情報に関する法令を遵守し、個人情報保護の重要性の認識と取組みを徹底し、個人情報の適切な取扱いと保護を推進致します。</p>
    </section>
    <section>
      <h2>個人情報の取得</h2>
      <p>当団体は、適正に個人情報を取得いたします。</p>
    </section>
    <section>
      <h2>個人情報の管理</h2>
      <p>当団体は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
    </section>
    <section>
      <h2>個人情報の利用目的</h2>
      <p>当団体は、当団体からのご連絡や業務のご案内やご質問に対する回答を目的に個人情報を使用します。</p>
    </section>
    <section>
      <h2>個人情報の第三者への開示・提供の禁止</h2>
      <p>当団体は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
    </section>
    <section>
      <h2>お客さまの同意がある場合</h2>
      <p>お客さまが希望されるサービスを行なうために当団体が業務を委託する業者に対して開示する場合</p>
      <p>法令に基づき開示することが必要である場合</p>
    </section>
    <section>
      <h2>個人情報の安全管理</h2>
      <p>当団体は、個人情報の漏えい・紛失防止のため、また正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
    </section>
    <section>
      <h2>ご本人の照会</h2>
      <p>お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
    </section>
    <section>
      <h2>法令、規範の遵守と見直し</h2>
      <p>当団体は、保有する個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
    </section>
    <section>
      <h2>お問い合わせ</h2>
      <p>当団体の個人情報の取扱に関するお問い合せは下記までご連絡ください。</p>
    </section>
    <section>
      <p>プロジェクトchacha</p>
      <p>Mail:yushi.public@gmail.com</p>
    </section>
  </div>
</div>
