<h2>ダッシュボード</h2>

<!-- <section class="row text&#45;center placeholders"> -->
<!--   <div class="col&#45;6 col&#45;sm&#45;3 placeholder"> -->
<!--     <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img&#45;fluid rounded&#45;circle" alt="Generic placeholder thumbnail"> -->
<!--     <h4>Label</h4> -->
<!--     <div class="text&#45;muted">Something else</div> -->
<!--   </div> -->
<!--   <div class="col&#45;6 col&#45;sm&#45;3 placeholder"> -->
<!--     <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img&#45;fluid rounded&#45;circle" alt="Generic placeholder thumbnail"> -->
<!--     <h4>Label</h4> -->
<!--     <span class="text&#45;muted">Something else</span> -->
<!--   </div> -->
<!--   <div class="col&#45;6 col&#45;sm&#45;3 placeholder"> -->
<!--     <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img&#45;fluid rounded&#45;circle" alt="Generic placeholder thumbnail"> -->
<!--     <h4>Label</h4> -->
<!--     <span class="text&#45;muted">Something else</span> -->
<!--   </div> -->
<!--   <div class="col&#45;6 col&#45;sm&#45;3 placeholder"> -->
<!--     <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img&#45;fluid rounded&#45;circle" alt="Generic placeholder thumbnail"> -->
<!--     <h4>Label</h4> -->
<!--     <span class="text&#45;muted">Something else</span> -->
<!--   </div> -->
<!-- </section> -->
