<div class="commentForm">
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="row between-xs commentFormWrapper">
      <div class="col-xs-9 commentForm__itemWrapper">
        <div class="commentForm__form">
          <textarea id="commentForm__textarea" placeholder="コメントする" name="comment[body]" rows="1"></textarea>
        </div>
      </div>
      <div class="col-xs-3 commentForm__itemWrapper">
        <div class="commentForm__item">
          <div class="commentForm__submit">
            <div id="btn-commentForm__submit" class="btn btn--primary">
              <%= f.button type: 'submit' do %>
                <%= image_tag('feather-message-circle.svg', :alt => "header burger") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  autosize(document.querySelectorAll('textarea'));
</script>
