//
// ### Foundation ###
//

/*
 * Base
 */

@import "lib/normalize";
@import "lib/suitcss-base";
@import "font-awesome";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: Lucida Grande,
               Hiragino Kaku Gothic ProN,
               'ヒラギノ角ゴ ProN W3',
               Meiryo,
               'メイリオ',
               sans-serif;
  // fixed-top
  padding-top: 70px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Typography

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

// -- Variables --
// Color
$color-primary: #fb9d6d;
$color-secondary: #f7fae9;
$color-main-border: #ccd6dd;
$color-footer-border: #eee;

// Size
$height-header: 50px;
$width-container: 940px;

// Radius
$radius-circle: 50%;
$radius-pill: 99em;
$radius-table: 4px;

// Screens
$screen-m: 768px;
$screen-l: 1200px;

// -- Mixins -
@mixin screen-m {
  @media (min-width: $screen-m + 1) {
    @content;
  }
}

@mixin screen-l {
  @media (min-width: $screen-l + 1) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin centering($width: $width-container) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}


/*
 * Layouts
 */

// sidebar

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

// Dashboard

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

//
// ### Objects ###
//

// -- Components --

// -- Objects --
