//
// # Foundation
//

// -- Base --
@import "lib/normalize";
@import "lib/suitcss-base";

@import "font-awesome";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: Lucida Grande,Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ',sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// -- Variables --

// Color
$color-primary: #fb9d6d;
$color-secondary: #f7fae9;

$color-main-border: #ccd6dd;
$color-footer-border: #eee;


// Size
$height-header: 50px;
$width-container: 940px;

// Radius
$radius-circle: 50%;
$radius-pill: 99em;
$radius-table: 4px;

// Screens
$screen-m: 768px;

// -- Mixins --
@mixin screen-m {
  @media (min-width: $screen-m + 1) {
    @content;
  }
}

@mixin centering($width: $width-container) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}

//
// # Layouts
//

// Mobile first
[id="container"] {
  // background-color: #e6ecf0;
  background-color: $color-secondary;
  height: 100%;
  width: 100%;
}

[id="flex-wrapper"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

[id="flex-wrapper"] > * {
  flex: 1 100%;
}

[id="header"] {
  background-color: $color-primary;
}

[id="main"] {
  height: auto;
  background-color: #fff;
}

.aside {
  background-color: $color-secondary;
  min-width: 300px;
  min-height: 250px;
}

[id="sidebar"] {
  // border: 1px solid black;
}

[id="sidebar-2"] {
  // border: 1px solid black;
}

[id="footer"] {
  // position: fixed;
  // bottom: 0;
  width: 100%;
}

// Medium screens
@media all and (min-width: $screen-m) {
  .aside {
    flex: 1;
  }

  [id="main"] {
    max-width: 75%;
    margin: 0 auto;
  }

  [id="sidebar"] {
    margin: 0 auto;
  }

  [id="sidebar-2"] {
    margin: 0 auto;
  }
}

// Large screens
@media all and (min-width: 1200px) {
  /* invert order of first sidebar and main
   * and tell the main element to take twice as much width
   * as the sidebars
   */
  [id="flex-wrapper"] {
    flex-direction: row;
  }
  [id="main"] {
    flex: 2;
  }
  .aside {
    flex: 1;
  }

  [id="sidebar"] { order: 1; }
  [id="main"] { order: 2; }
  [id="sidebar-2"] { order: 3; }
  [id="footer"] { order: 4; }
}

//
// # Objects
//

// -- Components --
.app-logo {
  font-weight: bold;
  font-size: 32px;
  font-family: Monaco, monospace;
  color: white;
}
// .app-logo a {
//   color: inherit;
//   text-decoration: inherit;
// }
.app-logo span {
  display: inline-block;
  vertical-align: middle;
}

.navbar {
  min-height: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-item {
  height: 50px;
}

.navbar-center {
  text-align: center;
}

.alpha {
  background-color: $color-secondary;
  padding: 15px 0;
}

.alpha__lede {
  background-color: white;
}

.alpha__lede-text {
  color: #666;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}

// TODO
.sidebar-ad-wrapper {
  width: auto;
}

.sidebar-ad__imagebox {
}

.sidebar-ad__image {
  margin: 0 auto;
}

// Index
.module {

}
.module__body {

}

.entries {
  margin-top: 15px;
  margin-bottom: 30px;
}

.entries__list {
  border-top: 1px solid $color-main-border;
}

.entries__item {
  position: relative;
  border-bottom: 1px solid $color-main-border;
  @include screen-m {
    // border-right: 1px solid $color-main-border;
    // border-left: 1px solid $color-main-border;
  }
}

.post-content {
  cursor: default;
}

.post-content__author {
  color: $color-primary;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.post-content__body {

}

.post-content__comments-count {
  position: relative;
  margin-top: 10px;
  color: $color-primary;
  font-size: 12px;
  span {
    float: right;
  }
}

.sns-box-wrapper {
  background-color: #f3f3f3;
  padding: 30px 15px 35px;
  text-align: center;
  p {
    font-weight: bold;
  }
}
.sns-box__list {
  margin: 20px auto 0;
  zoom: 1;
}
.sns-box__item {
  // width: auto; what is this even...
}
.sns-box__item--twitter {
  height: 49px;
  width: 120px;
  margin: 0 auto;
  padding: 20px;
  background: #55acee;
  border-bottom: #5698cb solid 3px;
  border-radius: 5px;
  color: white;
  text-decoration: inherit;
}
.sns-box__item--twitter span {
  display: inline-block;
  vertical-align: middle;
}

.footer-links {
  color: #666;
  @include screen-m {
    margin-top: 0;
    display: block;
    border-top: 1px solid $color-footer-border;
    border-bottom: 1px solid $color-footer-border;
    margin-top: 20px;
    padding: 15px 20px;
    text-align: center;
    font-size: px2rem(13px);
    @include centering;
  }
}
.footer-links__list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $color-footer-border;
  > li {
    box-sizing: border-box;
    flex: 0 0 50%;
    border-bottom: 1px solid $color-footer-border;
    font-size: px2rem(12px);
    &:nth-child(odd) {
      border-right: 1px solid $color-footer-border;
    }
    > a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px;
    }
  }
  @include screen-m {
    display: inline-flex;
    flex-wrap: wrap;
    border-top: 0;
    text-align: center;
    > li {
      flex: 1 0 auto;
      border-bottom: 0;
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid $color-footer-border;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 0;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
          opacity: 0.75px;
        }
      }
    }
  }
}

.footer__contentinfo {
  color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

// -- Objects --

// Media
// https://css-tricks.com/media-object-bunch-ways/
.media {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}
.media__img {
  width: 35px;
  height: 35px;
  margin: 0 1rem 0 0;
}
.media__bd {
  overflow: hidden;
  flex: 1 auto;
  margin: 0 1rem 0 0;
}
