//
// ### Foundation ###
//

// -- Base --
@import "lib/normalize";
@import "lib/suitcss-base";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-family: Lucida Grande,
               Hiragino Kaku Gothic ProN,
               'ヒラギノ角ゴ ProN W3',
               Meiryo,
               'メイリオ',
               sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// -- Variables --
// Color
$color-primary: #fb9d6d;
$color-secondary: #f7fae9;
$color-main-border: #ccd6dd;
$color-footer-border: #eee;

// Size
$height-header: 50px;
$width-container: 940px;

// Radius
$radius-circle: 50%;
$radius-pill: 99em;
$radius-table: 4px;

// Screens
$screen-m: 768px;
$screen-l: 1200px;

// -- Mixins -
@mixin screen-m {
  @media (min-width: $screen-m + 1) {
    @content;
  }
}

@mixin screen-l {
  @media (min-width: $screen-l + 1) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $screen-m) {
    @content;
  }
}

@mixin centering($width: $width-container) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}

//
// ### Layouts ###
//

[id="container"] {
  background-color: $color-secondary;
  width: 100%;
}

[id="flex-wrapper"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

[id="flex-wrapper"] > * {
  flex: 1 100%;
  background-color: $color-secondary;
}

[id="header"] {
  background-color: $color-primary;
}

[id="main"] {
  height: auto;
}

[id="footer"] {
  background-color: #fff;
  width: 100%;
}

.aside {
  min-width: 300px;
  // min-height: 250px;
}

[id="sidebar"] {
  // border: 1px solid black;
}

[id="sidebar-2"] {
  // border: 1px solid black;
}

// Medium screens
@media all and (min-width: $screen-m) {
  [id="main"] {
    max-width: 75%;
    margin: 0 auto;
  }

  [id="sidebar"] {
    margin: 0 auto;
  }

  [id="sidebar-2"] {
    margin: 0 auto;
  }

  .aside {
    flex: 1;
  }
}

// Large screens
@media all and (min-width: $screen-l) {
  /* invert order of first sidebar and main
   * and tell the main element to take 2x width as sidebars
   */
  [id="flex-wrapper"] {
    flex-direction: row;
  }

  [id="main"] {
    flex: 2;
  }

  .aside {
    flex: 1;
  }

  [id="sidebar"] { order: 1; }
  [id="main"] { order: 2; }
  [id="sidebar-2"] { order: 3; }
  [id="footer"] { order: 4; }
}

//
// ### Objects ###
//

@import "font-awesome";

// -- Components --
.app-logo {
  font-weight: bold;
  font-size: 32px;
  font-family: Monaco, monospace;
  color: white;
  height: 50px;
  position: relative;
}

.app-logo a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 65px;
  height: 20px;
}

.app-logo img {
  display: block;
  bottom: 20px
}

.navbar {
  min-height: 2rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-item {
  height: 50px;
}

.navbar-center {
  text-align: center;
}

.alpha {
  background-color: $color-secondary;
  padding: 15px 0;
}

.alpha__lede {
  background-color: white;
}

.alpha__lede-text {
  color: #666;
  padding: 10px 0;
  font-size: 14px;
  text-align: center;
}

// TODO
// <!-- <div class="sidebar&#45;ad&#45;wrapper"> -->
// <!--   <div class="sidebar&#45;ad__imagebox"> -->
// <!--     <%= image_tag("placeholder_ad_300x250.png", class: "sidebar&#45;ad__image") %> -->
// <!--   </div> -->
// <!-- </div> -->
// .sidebar-ad-wrapper {
//   width: auto;
// }
//
// .sidebar-ad__imagebox {
// }
//
// .sidebar-ad__image {
//   margin: 0 auto;
// }

.module {
}

.module__body {
}

#floationg-container {
  position:fixed;
  width: 4rem;
  height: 4rem;
  bottom: 1.3125rem;
  right: 1.3125rem;
}

.floating-action__item {
  z-index: 9999;
  width: 4rem;
  height: 4rem;
  border-radius: $radius-circle;
  background: $color-primary;
  position: fixed;
  bottom: 1.3125rem;
  right: 1.3125rem;
  box-shadow: 1px 1px 4px rgba(101,119,134,.75);
  color: white;

  span {
    padding-top: 14px;
    padding-left: 16px;
    display: inline-block;
    vertical-align: middle;
  }
}


.floating-action__item img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 30px;
  height: 30px;
}


// <!-- <div class="floating&#45;container"> -->
// <!--   <div class="floating&#45;action&#45;bar"> -->
// <!--     <%= link_to new_post_path, class: "floating&#45;action&#45;bar__item" do %> -->
// <!--       <span class="fa fa&#45;pencil fa&#45;2x"></span> -->
// <!--     <% end %> -->
// <!--   </div> -->
// <!-- </div> -->

// floating action
// using flex for now, but this may be simpler:
// https://codepen.io/simoberny/pen/pJZJQY
// .floating-container {
//   // z-index: 9999; // not too elegant
//   bottom: 0;
//   left: 0;
//   pointer-events: none;
//   position: fixed;
//   right: 0;
//   background-color: transparent;
// }
//
// .floating-action-bar {
//   display: flex;
//   align-items: stretch;
//   flex-basis: auto;
//   flex-direction: column;
//   flex-shrink: 0;
//   margin: 0;
//   padding: 0;
//   position: relative;
//   background-color: transparent;
// }
//
// .floating-action-bar__item {
//   z-index: 9999; // not too elegant
//   border-radius: $radius-circle;
//   box-shadow: 1px 1px 4px rgba(101,119,134,.75);
//   height: 4rem;
//   padding: 0;
//   width: 4rem;
//   align-self: flex-end;
//   justify-content: center;
//   bottom: 1.3125rem;
//   position: relative;
//   right: 1.3125rem;
//   background: $color-primary;
//   color: white;
//
//   span {
//     margin: 0 auto;
//     padding-top: 14px;
//     padding-left: 16px;
//     display: inline-block;
//     vertical-align: middle;
//   }
// }

.entries {
  margin-bottom: 30px;
}

.entries__form {
  background-color: #fff;
  padding: 10px;
}

.entries__list {
  background-color: #fff;
}

.entries__comments {
  margin: 15px;
  background-color: #fff;
}

.entries__item {
  background-color: #fff;
  position: relative;
  border-bottom: 1px solid $color-main-border;
  @include screen-m {
    // border-right: 1px solid $color-main-border;
    // border-left: 1px solid $color-main-border;
  }
}

.entries__pagination {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  color: $color-primary;
}

.post-content {
  cursor: default;
}

.post-content__author {
  color: $color-primary;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.post-content__body {
}

.post-content__comments-count {
  position: relative;
  margin-top: 10px;
  color: $color-primary;
  font-size: 12px;
  span {
    float: right;
  }
}

.entries__comments {
  border: 1px solid $color-primary;
  border-radius: 15px;
  li {
    border-bottom: 1px solid $color-main-border;
  }
}

.comments__list {
  // border: 1px solid $color-primary;
  // border-radius: 15px;
  // li {
  //   border-bottom: 1px solid $color-main-border;
  // }
  // li:last-child {
  //   border-bottom: none;
  // }
}

.comments__item {
  padding-bottom: 0.5em;
}

.comment-content__author {
  color: $color-primary;
  margin: 0 0 5px 0;
  font-weight: bold;
}

.comment-content__body {
}

.sns-box-wrapper {
  background-color: #f3f3f3;
  padding: 30px 15px 35px;
  text-align: center;
  p {
    font-weight: bold;
  }
}

.sns-box__msg {
  color: #666;
}

.sns-box__list {
  margin: 20px auto 0;
  zoom: 1;
}

.sns-box__item {
  // width: auto; what is this even...
}

.sns-box__item--twitter {
  height: 49px;
  width: 120px;
  margin: 0 auto;
  padding: 20px;
  background: #55acee;
  border-bottom: #5698cb solid 3px;
  border-radius: 5px;
  color: white;
  text-decoration: inherit;
}

.sns-box__item--twitter span {
  display: inline-block;
  vertical-align: middle;
}

.footer-links {
  color: #666;
  @include screen-m {
    margin-top: 0;
    display: block;
    border-top: 1px solid $color-footer-border;
    border-bottom: 1px solid $color-footer-border;
    margin-top: 20px;
    padding: 15px 20px;
    text-align: center;
    font-size: px2rem(13px);
    @include centering;
  }
}

.footer-links__list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $color-footer-border;
  > li {
    box-sizing: border-box;
    flex: 0 0 50%;
    border-bottom: 1px solid $color-footer-border;
    font-size: px2rem(12px);
    &:nth-child(odd) {
      border-right: 1px solid $color-footer-border;
    }
    > a {
      color: inherit;
      text-decoration: none;
      display: block;
      padding: 10px;
    }
  }
  @include screen-m {
    display: inline-flex;
    flex-wrap: wrap;
    border-top: 0;
    text-align: center;
    > li {
      flex: 1 0 auto;
      border-bottom: 0;
      margin-right: 8px;
      padding-right: 8px;
      border-right: 1px solid $color-footer-border;
      &:last-child {
        border-right: none;
      }
      a {
        padding: 0;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
          opacity: 0.75px;
        }
      }
    }
  }
}

.footer__contentinfo {
  color: #666;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

// -- Objects --

// Media
// https://css-tricks.com/media-object-bunch-ways/
.media {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.media__img {
  width: 35px;
  height: 35px;
  margin: 0 1rem 0 0;

  // since media obj is flex, need to explicitly
  // style w/h or load time will collapse img.
  img {
    width: 35px;
    height: 35px;
    border-radius: 1px;
  }
}

.media__img.--small {
  width: 30px;
  height: 30px;
  img {
    width: 30px;
    height: 30px;
  }
}

.media__bd {
  overflow: hidden;
  flex: 1 auto;
  margin: 0 1rem 0 0;
}

// Form
// https://github.com/yahoo/pure/blob/master/src/forms/css/forms.css
.form {
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="url"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="week"],
.form input[type="number"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form select,
.form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}

.form textarea {
  resize: none;
}

// Chrome needs additional room for color to display
.form input[type="color"] {
  padding: 0.2em 0.5em;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
  border-color: $color-primary;
}

.form input[type="file"]:focus,
.form input[type="radio"]:focus,
.form input[type="checkbox"]:focus {
  outline: thin solid $color-primary;
  outline: 1px auto $color-primary;
}
.form .pure-checkbox,
.form .pure-radio {
  margin: 0.5em 0;
  display: block;
}

.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form select[disabled],
.form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}

.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  background-color: #eee; /* menu hover bg color */
  color: #777; /* menu text color */
  border-color: #ccc;
}

.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.form input[type="file"]:focus:invalid:focus,
.form input[type="radio"]:focus:invalid:focus,
.form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.form select {
  /* Normalizes the height; padding is not sufficient. */
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: white;
}
.form select[multiple] {
  height: auto;
}
.form label {
  margin: 0.5em 0 0.2em;
}
.form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}

.form .input--1 {
  width: 100%;
}

.form .help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}

.form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}

.form-message.danger {
  color: red;
}

.form-stacked {
}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}

.form-section {
}

.form__item {
  margin: 0.5em 0 1em;
}

.form__label {
  color: #666;
  margin-bottom: 0.2em;
}

.form__text-field {
}

.form__textarea {
}

.form__submit {
}

.entries__form {
  padding-bottom: 50px;
}
.entries__form .form__textarea {
  min-height: 350px; // TODO: check wtih m
  height: 350px;
  > textarea {
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    height: 100%;
  }
}

.entries__form .form__submit {
  // if mobile, fix action to bottom
  @include mobile {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3.5rem;
    border-top: 1px solid $color-main-border;
    padding: 0.4em 0.2em 0.4em 0.2em;

    button {
      margin-right: 0.2em;
      padding: 0.7em 1.2em;
      display: inline-block;
      vertical-align: middle;
      float: right;
    }
  }
}

.comments__form {
  padding: 1rem;
  font-size: 12px;
}

.comments__form .form__textarea {
  min-height: 150px;
  height: 150px;
  textarea {
    box-sizing: border-box;         /* For IE and modern versions of Chrome */
    -moz-box-sizing: border-box;    /* For Firefox                          */
    -webkit-box-sizing: border-box; /* For Safari                           */
    height: 100%;
  }
}

// Pagination
.pagination {
  margin: 0 auto;
  text-align: center;

  .page.current {
    font-weight: 900;
   }
}

.btn {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  border: 1px solid #999;  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
}

.btn--primary {
  background-color: $color-primary;
  color: white;
}
//
// .btn-hover,
// .btn:hover,
// .btn:focus {
//   /* csslint ignore:start */
//   filter: alpha(opacity=90);
//   /* csslint ignore:end */
//   background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
// }

.static-page {
  background-color: white;
  color: #666666;
  padding: 10px;
  h1 {
    font-size: 15pt;
    line-height: 30pt;
  }
  h2 {
    font-size: 12pt;
    line-height: 25pt;
  }
  h3{
    font-size: 10pt;
    line-height: 20pt;
  }
  body {
    line-height: 5pt;
  }
}
